{% extends 'base.html' %}
{% block title %} 9books {% endblock %}

{% block content %}

<section class="home" >

    <div 
        hx-target="this"
        hx-swap="outerHTML"  
        class="intro"
        data-aos="zoom-out-up"
        data-aos-duration="1000"
        >
        
        <h1>9books</h1>
        
        <div>
            
            <a 
                href="" 
                class="btn btn-warning me-2 fs-4" 
                hx-get="{{ url_for('cadastrar') }}" 
                >
                Sign-up
            </a>
            
            <a 
                href="" 
                class="btn btn-light fs-4 " 
                hx-get="{{ url_for('login') }}"       
                >
                Login
            </a>
            
        </div>

    </div>
</section>

{% endblock %}