{% import 'macros.html' as macro%}
{% extends 'base.html' %}

{% block title %} 8Books - Home {% endblock %}
{% block nav %} nav {% endblock %}


{% block content %}


    <section class="container mt-5 py-5" id="principal">
        <div id="teste" style="width: 640px;"></div>
    
         <div class="d-flex justify-content-center mb-3">
            <form class="w-50 me-3" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
        </div>

        <div class="py-3">
            <a 
                href="#" 
                class="btn btn-secondary" 
                hx-get="{{ url_for('add_books') }}"
                hx-target="#principal"
                >
                Adicionar livro
            </a>
            <hr>
        </div>

        <!-- Tabela de registros -->
        <table class="table text-align-center">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Gênero</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Classificação</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody id="new-book" hx-target="closest tr" hx-swap="outerHTML swap:0.3s">
                {% for book in books %}
                    <tr id="livro-{{book.id}}">
                        <td>{{ book.id }}</td>
                        <td>{{ book.titulo }}</td>
                        <td>{{ book.autor }}</td>
                        <td>{{ book.categoria }}</td>
                        <td>{{ book.descricao }}</td>
                        <td>{{ book.rate }}</td>
                        <td>
                            <button 
                                class="btn btn-warning"
                                hx-get="{{url_for('editar_livro', book_id=book.id)}}"
                                hx-target=".teste"
                                
                                >Edit
                            </button>
                            <button 
                                class="btn btn-danger"
                                type="button"
                                hx-delete="{{url_for('excluir_livro', book_id=book.id)}}"
                                hx-confirm="Tem certeza que deseja excluir este livro?"
                                
                                >Del
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </section>
    <div class="teste"></div>
    
    

{% endblock %}